<h1> Welcome</h1>
<h1> Educational Institute </h1>
<div>
     Our goal is to educate everyone!
</div>
<br>

<%= link_to "See Students", students_path %><br>
<%= link_to "Sign_Out", destroy_user_session_path, method: :delete %>



