<h1> Account details of the Student </h1>

<div> 
    <p> Account Name: </p>
    <%= @account.account_name %>
    <br>
    <p> Account ID </p>
    <%= @account.account_number %>
    <br>
    <p> Student ID </p>
    <%= @student_id %>
    <br>

<%= link_to 'Back_to_Student', student_path %>